<h1><%= @cocktail.name %></h1>
<h3>Ingredients</h3>
<ul>
  <% @cocktail.ingredients.each do |ingredient| %>
    <li><%= "#{ingredient.name} - #{ingredient.doses.where(cocktail_id: @cocktail.id).first.description}" %></li>
  <% end %>
</ul>
