.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.banner-logo img {
  max-width: 100%;
  height: auto;
}
