.banner-show {
  color: white;
  text-align: center;
  height: calc(40vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
